.container {
  background-image: linear-gradient(
    to bottom,
    #90c1fc 0%,
    #a3d5fe 33%,
    #b0defd 66%,
    #c1e8fe 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #90c1fc),
    color-stop(0.33, #a3d5fe),
    color-stop(0.66, #b0defd),
    color-stop(1, #c1e8fe)
  );
  background-image: -webkit-linear-gradient(
    top,
    #90c1fc 0%,
    #a3d5fe 33%,
    #b0defd 66%,
    #c1e8fe 100%
  );
}
